/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }

div {
    margin:1em;
    display: block;
    border: 2px dotted black;
}

gramGrp {
    display: inline;
    background-color: Salmon;
}

synonym {
    display: inline;
    background-color: Khaki;
}

antonym {
    display: inline;
    background-color: #647cfe;
}
xr {
    display: inline;
    background-color:  SkyBlue;
}

/* things to mark-up on any level */

pc {
    display: inline;
    background-color: greenyellow;
}



dictScrap { /* what's that for? */
    display: inline;
    background-color: #70695C;
}

/* note {
    display: inline;
    background-color: #eb1844;
}
*/

/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
