/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }



etym { margin:1em;
	display: block;
	border: 2px dotted black; }

/* things to mark-up on any level */

pc {
	display: inline;
	background-color: SkyBlue;
}

/* things to mark-up in etymQuote */

lbl {
	display: inline;
	background-color: Salmon;
}

gloss {
	display: inline;
	background-color: yellow;
}

ref {
	display: inline;
	background-color: #8799ff;
}
lang {
	display: inline;
	background-color: #86d5af;
}

foreign {
	display: inline;
	background-color: #d577cd;
}

dictScrap {
	display: inline;
	background-color: #d5b112;
}



/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
