/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }



etym { margin:1em;
	display: block;
	border: 2px dotted black; }

/* things to mark-up on any level */

pc {
	display: inline;
	background-color: SkyBlue;
}

/* things to mark-up in etymQuote */

seg {
	display: inline;
	background-color: Salmon;
}

quote {
	display: inline;
	background-color: yellow;
}

dictScrap { /* what's that for? */
	display: inline;
}



/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
