/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }


form {
	margin:1em;
	display: block;
	border: 2px dotted black;
}



pc {
	display: inline;
	background-color: SkyBlue;
}



gramGrp {
	display: inline;
	background-color: Salmon;
}

orth {
	display: inline;
	background-color: yellow;
}

dictScrap {
	display: inline;
	background-color: purple;
}


pron {
	 display: inline;
	 background-color: PaleGreen;
 }
lang {
	display: inline;
	background-color: forestgreen;
}

name {
	display: inline;
	background-color: #0e90d2;
}

desc {
	display: inline;
	background-color: olive;
}


/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
