/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }

body {
	background-color: White;
}

gramGrp {
	margin:1em;
	display: block;
	border: 2px dotted black;
}

pos { display: inline;
	background-color: #f784e7;}

tns {
	display: inline;
	background-color: #0fb0ff;
}

gen {
	display: inline;
	background-color: #eb4b3b;
}

number {
	display: inline;
	background-color: #d9cc07;
}
subc {
	display: inline;
	background-color: #647cfe;
}

note {
	display: inline;
	background-color: #89ff31;
}
oRef {
	display: inline;
	background-color: #2dffc4;
}

dictScrap {
	display: inline;
	background-color: #0e34ff;
}


pc {
	display: inline;
	background-color: #d58512;
}
lbl {
	display: inline;
	background-color: #fdff05;
}


gram {
	display: inline;
	background-color: #e20d56;
}




/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
