/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }

entry {
    margin:1em;
    display: block;
    border: 2px dotted black;
}

etym { display: inline;
    background-color: seagreen;}

form {
    display: inline;
    background-color: Khaki;
}

/* things to mark-up on any level */

pc {
    display: inline;
    background-color: blue;
}

/* things to mark-up in etymQuote */

sense {
    display: inline;
    background-color: Salmon;
}

re {
    display: inline;
    background-color: purple;
}
xr {
    display: inline;
    background-color: greenyellow ;
}
num {
    display: inline;
    background-color:  SkyBlue;
}
subEntry {
    display: inline;
    background-color: #1fba5d;
}
note {
    display: inline;
    background-color: #eb1844;
}

dictScrap { /* what's that for? */
    display: inline;
    background-color: #70695C;
}

/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
