/* TODO: namespace stuff once the annotation files are in the TEI namespace */

tei { display: block; }

teiHeader { display: none; }

entry {
    margin:1em;
    display: block;
    border: 2px dotted black;
}

etym { display: inline;
    background-color: seagreen;}

lemma {
    display: inline;
    background-color: Khaki;
}
inflected {
    display: inline;
    background-color: #b7d91b;
}
ending {
    display: inline;
    background-color: #647cfe;
}
variant {
    display: inline;
    background-color: #39f0dd;
}
formGramGrp {
    display: inline;
    background-color: #2253f0;
}
senseGramGrp {
    display: inline;
    background-color: purple;
}
/* things to mark-up on any level */

pc {
    display: inline;
    background-color: blue;
}

/* things to mark-up in etymQuote */

sense {
    display: inline;
    background-color: Salmon;
}

re {
    display: inline;
    background-color: #d790f0 ;
}
xr {
    display: inline;
    background-color: greenyellow ;
}
num {
    display: inline;
    background-color:  SkyBlue;
}
subEntry {
    display: inline;
    background-color: #1fba5d;
}
note {
    display: inline;
    background-color: #eb1844;
}

usg {
    display: inline;
    background-color: #ebd3ac;
}


dictScrap { /* what's that for? */
    display: inline;
    background-color: #70695C;
}

/* special whitespace handling for minimally better readability */
lb:before { content: "\a "; }
headnote lb { display: none; }
