<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<display-name>GROBID Dictionaries web service - RESTful services for dictionaries segmentation and extraction
    </display-name>
    <welcome-file-list>
        <welcome-file>grobid/index.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>

    <servlet>
        <servlet-name>grobid-service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.grobid.service</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>grobid-service</servlet-name>
        <url-pattern>/processDictionarySegmentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grobid-service</servlet-name>
        <url-pattern>/processDictionaryBodySegmentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grobid-service</servlet-name>
        <url-pattern>/processLexicalEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grobid-service</servlet-name>
        <url-pattern>/processFullDictionary</url-pattern>
    </servlet-mapping>

    <!-- Path to properties files and GROBID_HOME -->
    <env-entry>
        <env-entry-name>org.grobid.property</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>../grobid-home/config/grobid.properties</env-entry-value>

    </env-entry>

    <env-entry>
        <env-entry-name>org.grobid.home</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>../grobid-home</env-entry-value>

    </env-entry>



</web-app>
